*
!.gitconfig
!.gitignore
!.tmux.conf
!.gitignore_global
!.zshrc
!Makefile
!TerminessNerdFontMono-Bold.ttf
!TerminessNerdFontMono-BoldItalic.ttf
!TerminessNerdFontMono-Italic.ttf
!TerminessNerdFontMono-Regular.ttf
!tokyonight_moon.itermcolors
